creds/bot_token.txt
__pycache__/workReceiveData.cpython-312.pyc
__pycache__/workingData.cpython-312.pyc
Институт компьютерных наук.xlsx
Институт новых материалов.xls
Институт экономики и управления.xls
Общее расписание встреч по дисциплине «Физическая культура».pdf
Расписание кабинетов - Английский язык.xlsx
__pycache__/config.cpython-312.pyc
__pycache__/get_links.cpython-312.pyc
__pycache__/getData.cpython-312.pyc
__pycache__/getRowData.cpython-312.pyc
__pycache__/linksPath.cpython-312.pyc
